<div class card>
    <label for="">Fecha inicio</label>
    <p-calendar [(ngModel)]="d1" [showIcon]="true" [showButtonBar]="true"></p-calendar>
    <label for="">Fecha fin</label>
    <p-calendar [(ngModel)]="d2" [showIcon]="true" [showButtonBar]="true"></p-calendar>
    <button (click)="Buscar()">Buscar</button>
</div>

<p-table #dt [value]="lregistros" [exportHeader]="'resumen de inventarios'" 
    selectionMode="single" [(selection)]="selectedInventario" dataKey="id"
    (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)"
    [scrollable]="true" scrollHeight="400px" 
    [tableStyle]="{'min-width': '60rem'}"
    [globalFilterFields]="['observacion']"
    >
    <ng-template pTemplate="caption">
        <div class="flex">
            <span class="p-input-icon-left ml-auto">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains', dt)" placeholder="Search keyword" />
            </span>
        </div>
        <!-- <div class="flex">
            <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()"
                class="p-button-success mr-2" pTooltip="XLS" tooltipPosition="bottom"></button>
        </div> -->
    </ng-template>
    <ng-template pTemplate="header" let-registro>
        <tr>
            <th>Fecha</th>
            <th pSortableColumn="observacion">Observación<p-sortIcon field="observacion"></p-sortIcon></th>
            <th>Usuario</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-registro>
        <tr [pSelectableRow]="registro">
            <td>{{ registro.fecha?.toDate() | date: 'medium'}}</td>
            <td>{{ registro.observacion }}</td>
            <td>{{ registro.usuario }}</td>
        </tr>
    </ng-template>
</p-table>
<p-dialog [(visible)]="inventarioDialogo" [style]="{ width: '600px' }" header="Detalle de inventario" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="field">
            <p-table #dt1 [value]="lregistrosinventario" 
            [scrollable]="true" scrollHeight="400px" 
            >
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 60%">Nombre</th>
                    <th style="width: 10%">Unidad</th>
                    <th style="width: 10%">Existencia</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-producto>
                <tr>
                    <td>{{ producto.nombre }}</td>
                    <td>{{ producto.unidad }}</td>
                    <td>{{ producto.existencia }}</td>
                </tr>
            </ng-template>
        </p-table>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cerrar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    </ng-template>
</p-dialog>