<div class card>
    <label for="">Fecha inicio</label>
    <p-calendar [(ngModel)]="d1" [showIcon]="true" [showButtonBar]="true"></p-calendar>
    <label for="">Fecha fin</label>
    <p-calendar [(ngModel)]="d2" [showIcon]="true" [showButtonBar]="true"></p-calendar>
    <button (click)="Buscar()">Buscar</button>
</div>

<p-table #dt [value]="lregistros" [exportHeader]="'resumen de ventas'" sortField="tipodepago" sortMode="single"
    [scrollable]="true" scrollHeight="400px" rowGroupMode="subheader" groupRowsBy="tipodepago"
    [tableStyle]="{'min-width': '60rem'}">
    <ng-template pTemplate="groupheader" let-registro>
        <tr pRowGroupHeader>
            <td colspan="5">
                <span class="font-bold ml-2">Tipo de pago: {{registro.tipodepago}}</span>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="groupfooter" let-registro>
        <tr>
            <td colspan="5" class="text-right font-bold pr-6">Total tipo de pago {{registro.tipodepago}}:
                {{calculateTipodepagoTotal(registro.tipodepago)}}</td>
        </tr>
    </ng-template>
    <ng-template pTemplate="caption">
        <div class="flex">
            <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()"
                class="p-button-success mr-2" pTooltip="XLS" tooltipPosition="bottom"></button>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>Fecha</th>
            <th>Orden No.</th>
            <th>Cliente</th>
            <th>Valor</th>
            <th>Tipo de pago</th>
            <th>Documento de pago</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-registro>
        <tr>
            <td>{{ registro.fecha | date: 'yyyy/MM/dd hh:mm:ss'}}</td>
            <td>{{ registro.secuencial }}</td>
            <td>{{ registro.cliente }}</td>
            <td>{{ registro.totalorden | currency:'USD' }}</td>
            <td>{{ registro.tipodepago }}</td>
            <td>{{ registro.documentopago }}</td>
        </tr>
    </ng-template>
</p-table>